.input {
    border-radius: var(--main-border-radius);
    margin-bottom: 1rem;
}

.button {
    border-radius: var(--main-border-radius);
    padding: 0.65rem;
    background-image: var(--main-text-color);
    font-weight: 700;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 80%;
}

.button:hover {
    color: var(--main-text-color);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}
