.cardInner {
    z-index: 1;
    height: 300px;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: var(--gradient);
    background-size: cover;
    border-radius: var(--main-border-radius);
    opacity: 0.7;
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('./assets/mountain.jpg');
    background-size: cover;
    border-radius: var(--main-border-radius);
}