:root {
    --bg-color: #343d4b;
    --bg-color--card: #222831;
    --main-border-radius: 25px;
}

body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    color: var(--black-text-color);
    z-index: -1000;
}
